DB_HOST=coloque_o_ip_e_a_porta_do_banco_aqui
DB_NAME=coloque_o_nome_do_banco_aqui
DB_USER=coloque_o_usuario_do_banco_aqui
DB_PASSWORD=coloque_a_senha_do_banco_aqui
USERNAME_SUPER=coloque_o_username_do_usuario_super_aqui
PASSWORD_SUPER=cloque_a_senha_do_usuario_super_aqui