#Login Super
USERNAME_SUPER:UNIPAR
PASSWORD_SUPER:UNIPAR

#Aplicacao (Utilize os mesmos dados do banco)
SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/AssetInsight
SPRING_DATASOURCE_USERNAME: postgres
SPRING_DATASOURCE_PASSWORD: postgres

#Banco
POSTGRES_DB: AssetInsight
POSTGRES_USER: postgres
POSTGRES_PASSWORD: postgres