.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20000;
}

.modal-container {
  background: white;
  width: 60%;
  max-width: 90vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.removerServico{
  width: 10px;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  overflow-y: auto;
  width: 100%;
  z-index: 10000;
}

.header-image {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: -40px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}
.modal-body {
  padding: 20px;
  overflow: auto;
  max-height:80vh
}


.data-part {
  flex: 1;
}

.remove-section {
  text-align: center;
  color: red;
  cursor: pointer;
  margin-top: -10px;
}

.service-entry {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.btnAdd {
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
}
.btnAddServico{
cursor: pointer;
}

.total-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.total-value {
  font-weight: bold;
  margin-left: 10px;
}

.small-trash {
  font-size: 10px;
  margin-left: 5px;
  cursor: pointer;
}
.divider {
  border: 1px solid #ccc;
  margin: 15px 0;
}
