<div class="overlay" *ngIf="isModalOpen">
  <div class="modal-container">
    <div class="modal-header">
      <a (click)="closeModal()">
        <img src="assets/Voltar.png">
      </a>
      <h2>Cadastro De Ordem De Serviço</h2>
    </div>

    <div class="modal-body">
      <div class="form-row">
        <div class="desc-part col-8">
          <label for="descricao">Descrição:</label>
          <input id="descricao" type="text" class="form-control" [(ngModel)]="descricaoOrdem" required>
        </div>
        <div class="data-part col-4">
          <label for="data">Data:</label>
          <input id="data" type="date" class="form-control" [(ngModel)]="data" required>
        </div>
      </div>
      <div class="modal-body">
        <!-- Dropdown de Ambientes -->
        <div class="form-row">
          <label for="ambiente-selecao">Selecionar Ambiente:</label>
          <select
            id="ambiente-selecao"
            class="form-control"
            [(ngModel)]="ambientesSelecionados[0]"
            required>
            <option *ngFor="let ambiente of ambientesSelecionados" [value]="ambiente.id">
              {{ ambiente.descricao }}
            </option>
          </select>
        </div>
      <fieldset *ngFor="let servico of servicosAdicionados; let i = index">
        <div class="form-row">
          <div class="desc-part col-8">
            <label for="servicoDescricao-{{i}}">Serviço:</label>
            <input id="servicoDescricao-{{i}}" type="text" class="form-control" [(ngModel)]="servico.descricao">
          </div>
          <div class="data-part col-4">
            <label for="categoria-{{i}}">Categoria:</label>
            <select id="categoria-{{i}}" class="form-control" [(ngModel)]="servico.categoria" required>
              <option *ngFor="let categoria of categoriasSelecionadas" [value]="categoria.id">
                {{ categoria.descricao }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="desc-part col-4">
            <label for="quantidade-{{i}}">Quantidade:</label>
            <input id="quantidade-{{i}}" type="number" class="form-control" [(ngModel)]="servico.quantidade" (change)="onQuantidadeChange($event, i)">
          </div>
          <div class="data-part col-4">
            <label for="valor-{{i}}">Valor Unitário:</label>
            <input id="valor-{{i}}" type="number" class="form-control" [(ngModel)]="servico.valorUnit" (input)="onValorChange($event, i)">
          </div>
          <div class="data-part col-4">
            <label>Subtotal:</label>
            <input type="number" class="form-control" [value]="servico.valorTotal" readonly>
          </div>
        </div>
        <img src="assets/Vector.svg" class="removerServico" *ngIf="i > 0" (click)="removerServico(i)" />
      </fieldset>
      <div class="modal-footer">
        <button (click)="adicionarServico()" class="btn btn-primary">Adicionar Novo Serviço</button>
      </div>
    </div>

    <div class="form-row" style="text-align: center;">
      <button class="btn btn-primary" (click)="adicionarNovoAmbiente()">Adicionar Novo Ambiente</button>
    </div>

    <div class="modal-footer">
      <button (click)="guardarAmbiente()" class="btn btn-success">Cadastrar</button>
      <div class="total-value">Total: {{ total | currency:'BRL' }}</div>
    </div>
  </div>
</div>
</div>
