body{
  font-family: Inter;
}
.cinza
{
  padding-top: 20px;
  text-size-adjust: 10px;
  color: gray;
}
.novo-ambiente{
  background-color: white;
  color: #D6001C;
  border-color: #D6001C;
  border-radius: 6px;

}
.header-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.large-button {
  font-size: 1.2em;
  color: #D6001C;
  border-color: #D6001C ;
  font-weight: 700;
  background-color: white;
  position: relative;
  border-radius: 8px;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  width: 30%;
}

.menu-container {
  margin-left: auto;
  border: none;
  background-color: white;
}
.ordem-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  p {
    margin: 8px 0;
    font-size: 14px;
    color: #333;

    &:first-child {
      font-weight: bold;
    }
  }
}

