body{
  margin: 0;
 padding: 0;
 }
 .sidebar {
   background-color: black;
   z-index: 101;
 }
 .espacamento {
   padding-top: 130%;
 }
 .barralateral a:hover {
   background-color: #28282C;
 }
 .sidebar-item:hover::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   width: 1px; /* Largura da linha vermelha */

 }
 .sidebar-item.active::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   width: 1px; /* Largura da linha vermelha */
   background-color: red;
 }

 .sidebar-item {
   position: relative;
   padding: 10px;
   transition: background-color 0.3s ease;
 }
 .sidebar-item.active{
  background-color: #28282c96;
 }

