<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://unpkg.com/primeflex/primeflex.css" rel="stylesheet" />
  <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet" />
  <link href="https://unpkg.com/quill@1.3.7/dist/quill.snow.css" rel="stylesheet" />

<div class="overlay">
    <div class="modal-container">
      <div class="modal-header">
        <button (click)="closeModal()" class="back-button">⬅</button>
        <h2>Cadastro De Ordem De Serviço</h2>
      </div>
      <div class="modal-body">
        <img src="../../../assets/HEADDER1.png" alt="Header Image" class="header-image" />
  
        <div class="form-row">
          <label>Descrição:</label>
          <input type="text" class="form-control" [(ngModel)]="descricao">
        </div>
        <div class="form-row">
          <label>Data:</label>
          <input type="date" class="form-control" [(ngModel)]="data">
        </div>
  
        <hr>
  
        
        <div class="form-row">
          <label>Ambiente:</label>
          <select class="form-control" [(ngModel)]="ambienteSelecionado">
            <option *ngFor="let ambiente of ambientes" [value]="ambiente.id">{{ ambiente.descricao }}</option>
          </select>
        </div>
  
        <div class="form-row">
          <label>Qtd.</label>
          <input type="number" class="form-control" [(ngModel)]="quantidade" min="0">
        </div>
  
        <div class="form-row">
          <label>Serviço:</label>
          <input type="text" class="form-control" [(ngModel)]="servicoDescricao" (input)="onQuantidadeChange($event)">
        </div>
  
        <div class="form-row">
          <label>Patrimônio:</label>
          <input type="text" class="form-control" [(ngModel)]="patrimonio">
        </div>
  
        <div class="form-row">
          <label>Valor:</label>
          <input type="number" class="form-control" [(ngModel)]="valor" min="0"(input)="onValorChange($event)">
        </div>
  
        <div class="form-row">
          <label>Categoria:</label>
          <select class="form-control" [(ngModel)]="categoriaSelecionada">
            <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.descricao }}</option>
          </select>
        </div>
  
        <div class="form-row">
          <label>Subtotal:</label>
          <input type="number" class="form-control" [(ngModel)]="subtotal" readonly>
        </div>
  
        <!-- Adicionar Novo Serviço -->
        <div class="form-row">
          <button class="btn btn-success" (click)="adicionarServico()">Adicionar Novo Serviço</button>
        </div>
  
        <div *ngFor="let servico of servicosAdicionados; let i = index">
          <div class="form-row">
            <span>{{ servico.nome }}</span>
            <button class="btn btn-danger" (click)="removerServico(i)">🗑️</button>
          </div>
        </div>
  
        <hr>

        <div *ngIf="ambientes.length === 1" class="form-row">
          <button class="btn btn-danger small-button" (click)="removerUltimoAmbiente()">Remover</button>
        </div>
  

        <div class="form-row">
          <button class="btn btn-primary" (click)="adicionarNovoAmbiente()">Adicionar Novo Ambiente</button>
        </div>
  
        <div class="form-row total-section">
          <button class="btn btn-primary" (click)="guardarAmbiente()">Guardar</button>
          <div>Total: {{ total }}</div>
        </div>
      </div>
    </div>
  </div>
  
