
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://unpkg.com/primeflex/primeflex.css" rel="stylesheet" />
  <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet" />
  <link href="https://unpkg.com/quill@1.3.7/dist/quill.snow.css" rel="stylesheet" />

  <div class="py-4 parte-cima-ambiente">

  <div class="header-container">
    <button class="large-button" (click)="openModal()">NOVA ORDEM</button>
    <input
      class="form-control search-bar"
      type="text"
      placeholder="Pesquisar"
      (input)="applyFilter($event)"
    />
    <button class="btn btn-outline-primary ml-2" (click)="toggleFilters()">Filtros</button>
    <div class="menu-container">
      <p-menu #menu [popup]="true"></p-menu>
      <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v" [rounded]="true" ></p-button>
    </div>
    <div class="pagination-container">
      <mat-paginator
        [length]="totalPages * pageSize"
        [pageSize]="pageSize"
        (page)="onPageChange($event)"
        [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </div>
      <div *ngIf="showFilters" class="filter-container mt-3">
        <div class="row">
          <div class="col-md-4">
            <label for="filter-date">Data</label>
            <input
              id="filter-date"
              type="date"
              class="form-control"
              [(ngModel)]="filters.data"
            />
          </div>
          <div class="col-md-4">
            <label for="filter-status">Status</label>
            <select
              id="filter-status"
              class="form-control"
              [(ngModel)]="filters.status">
              <option value="">Status</option>
              <option *ngFor="let status of statusList" [value]="status.key">
                {{ status.value }}
              </option>
            </select>
          </div>
          <div class="col-md-4 d-flex align-items-end">
            <button
              class="btn btn-primary w-100" >
              <!--(click)="applyFilters()"> -->
              Aplicar Filtros
            </button>

      </div>
    </div>
  </div>
    <p class="cinza ">Mostrando todos os registros</p>
    <hr>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let ordem">{{ ordem.id }}</td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let ordem">{{ ordem.descricao }}</td>
      </ng-container>

      <ng-container matColumnDef="qtdServicos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Qtd. Serviços</th>
        <td mat-cell *matCellDef="let ordem">{{ ordem.qtdServicos }}</td>
      </ng-container>

      <ng-container matColumnDef="valorTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor Total</th>
        <td mat-cell *matCellDef="let ordem">{{ ordem.valorTotal }}</td>
      </ng-container>

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
        <td mat-cell *matCellDef="let ordem">{{ ordem.data }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let ordem">
    <span [ngClass]="{'status-incompleta': ordem.status === 'Incompleta', 'status-preenchida': ordem.status === 'Preenchida'}">
      {{ ordem.status }}
    </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="arquivar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let ordem">
          <button mat-button  class="action-button" (click)="arquivarOrdem(ordem.id)">
            <img src="../../../../assets/Vector.svg" alt="Arquivar" width="10" height="10" />
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  <app-cadastrar-ordem *ngIf="isModalOpen" (close)="closeModal()" ></app-cadastrar-ordem>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
