<div class="notification-bar" *ngIf="isVisible">
  <h3>Notificações</h3>
  <a href="/inicio" class="notification">

    <div class="notification-1">
      <img src="../../assets/resumo.svg" class="notification-icon">
      <p class="title">Resumo Mensal</p>
      <p class="subtitle">Os gastos deste mês de agosto foram 40% maior que o mês anterior</p>
    </div>



    <div class="notification-2">
      <img src="../../assets/lembrete.svg" class="notification-icon">
      <p class="title">Lembrete de Tarefa</p>
      <p class="subtitle">Sua tarefa Conserto de Projetor tem o prazo de conclusão para amanhã. Conclua a tarefa ou ela ficará em atraso.</p>
    </div>

  </a>
</div>
