
<app-generic-modal [titulo]="'Cadastrar Bloco'" (close)="closeModal()"> 
  <div class="body">
    <form #form="ngForm" (ngSubmit)="onSubmit($event)">
      <div class="form-group">
        <label for="descricao">Nome Do Bloco</label>
        <input
          type="text"
          class="form-control"
          id="descricao"
          name="descricao"
          [(ngModel)]="descricao"
          required
        />
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Cadastrar</button>
      </div>
    </form>
  </div>
</app-generic-modal>