body{
  font-family: Inter;
  overflow-x: hidden;
  overflow-y: hidden;
}

.cinza{
  padding-top: 20px;
  text-size-adjust: 10px;
  color: gray;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  background-color: #EAEAEA;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
  padding: 16px;
  width: 300px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
}
.card-header {
  text-align: center;
  background-color: #EAEAEA;
  border-bottom: 1px solid #fff;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.card-body {
  padding-top: 8px;
  background-color: #EAEAEA;
}
.novo-ambiente{
  background-color: white;
  color: #D6001C;
  border-color: #D6001C;
  border-radius: 6px;

}
.header-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.large-button {
  font-size: 1.2em;
  color: #D6001C;
  border-color: #D6001C ;
  font-weight: 700;
  background-color: white;
  position: relative;
  border-radius: 8px;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  width: 30%;
}

.menu-container {
  margin-left: auto;
  border: none;
  background-color: white;
}
