.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    background: url('/assets/HEADDER1.png') no-repeat center center;
    background-size: cover;
    border-radius: 0px;
    height: 5rem;
}

.modal-header h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 4rem;
  font-size: 2.4rem;
}

.voltar {
    position: absolute;
    left: 1rem;
    cursor: pointer;
}

.voltar:hover {
  opacity: 0.9;
}

.voltar img {
  width: 3rem;
  height: 3rem; 
}