<div class="overlay">
  <div class="modal-container">
    <div class="modal-header">
      <a (click)="closeModal()">
        <img src="/assets/Voltar.png" />
      </a>
      <h1>Editar Bloco</h1>
    </div>
    <div class="body">
      <form #form="ngForm" (ngSubmit)="onSubmit($event)">
        <div class="form-group">
          <label for="descricao">Nome Do Bloco</label>
          <input
            type="text"
            class="form-control"
            id="descricao"
            name="descricao"
            [(ngModel)]="descricao"
            required
          />
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" (click)="loadBlocos()">
            Salvar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
