.overlay {
  font-family:"Inter";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: bold;
  z-index:1050;
}

.modal-container {
  background-color: #F0F0F0;
  padding: 0;
  border-radius: 5px;
  width: 50%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  z-index:1060;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
h1{
  font-size: 2rem;
  margin: 1rem;
  color: #000000;
  font-weight: bold;
  text-align: center;
}
.body {
  padding: 1rem;
  margin-top: 0.8rem;
  color: #000000;
  font-size:1rem;
  overflow:hidden;
}
.modal-footer {
  margin-top:3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.btn {
  width: 100%;
  border-radius: 20px;
}
.prioridade-config {
  background-color:#fff;
  padding:3px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-top: 7px;
  padding-bottom:0;
}
prioridade-config div {
 padding-top: 1rem;
}

