<header class="header">
  <div class="header-content">
    <button class="menu-toggle d-md-none" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </button>
    
    <div class="icon-container">
      <a
        href="#"
        class="notification-link"
        (click)="toggleNotificationBar($event)"
      >
        <img
          src="../../../../assets/notificacao.svg"
          class="img-fluid notification-icon"
        />
        <span class="notification-badge" *ngIf="notificacoes.length > 0"></span>
      </a>
      <a href="#" class="ml-3">
        <img src="../../../../assets/admin.svg" class="img-fluid user-icon" />
      </a>
      <app-notification-bar #notificationBar></app-notification-bar>
    </div>
  </div>
</header>