.overlay {
  position: fixed;
  top: 0;
  left: 0;
  font-family:"Inter";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modal-container {
  background: #fff;
  border-radius: 8px;
  max-width: 60rem;
  max-height:40rem;
  width: 100%;
  height:100%;
  z-index: 10010;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/HEADDER1.png");
  background-size: cover;
  background-position: center;
  color:#fff;
}
.modal-header a{
  position: absolute;
  display: flex;
  left:30rem;
  height: 3rem;
  cursor:pointer;
}
.modal-body {
  margin-top: 1rem;
}

.service-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.removerServico {
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}
.modal-container-find {
  background: #fff;
  border-radius: 8px;
  max-width: 25rem;
  max-height:25rem;
  width: 100%;
  height:100%
}
.modal-footer-find {
  display: flex;
  justify-content: flex-end;
  padding-top: 10rem;
  padding-right:2rem;
}
.modal-header-find {
  font-size:1rem;
  padding-top: 1rem;
  padding-left:1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  color:#000;
}
.close-button{
  background-color:white;
  position: absolute;
  display: flex;
  left:69rem;
  height: 2rem;
  cursor:pointer;
}
.modal-body-find {
  margin-top: 1rem;
}
.form-row {
  display: flex;
  justify-content: space-between;
}
.patrimonio-check{
  padding-left:0.5rem;
}
