body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f0f0f0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Inter;
}

.centro{
 border-radius: 10px;
 top: 120px;
 left: 340px;
 width: 81%;
 height: 85%;
 position: fixed;
 background-color: white;
 align-items: start;
 padding: 10px;
 text-decoration: none;
}

.header{
  padding: 10px;
}

.nomePagina
{
text-align: end;
right: 10px;
font-weight: 700;
color: red;
}
/* Estilo para aumentar o espaçamento entre as abas */
::ng-deep .p-tabview-nav li {
  margin-right: 20px; /* Aumenta o espaçamento entre as abas */
}

/* Estilo para aba ativa */
::ng-deep .p-tabview-nav li.p-highlight .p-tabview-title {
  position: relative;
  padding-bottom: 1px; /* Espaço para a linha embaixo */
}

::ng-deep .p-tabview-nav li.p-highlight .p-tabview-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: red; /* Linha vermelha na aba ativa */
}

/* Estilo para abas inativas */
::ng-deep .p-tabview-nav li:not(.p-highlight) .p-tabview-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: gray; /* Linha cinza nas abas inativas */
}
::ng-deep .p-tabview-nav li .p-tabview-title {
  color: black !important; /* Define a cor preta para o texto */
  text-decoration: none; /* Remove sublinhado */
  font-weight: 600; /* Aumenta o peso da fonte, se necessário */
}

/* Estilo de hover para as abas */
::ng-deep .p-tabview-nav li .p-tabview-title:hover {
  color: black !important; /* Garante que o texto permaneça preto ao passar o mouse */
  text-decoration: none; /* Garante que o sublinhado continue removido */
}

/* Estilo para a aba ativa (já aplicado) */
::ng-deep .p-tabview-nav li.p-highlight .p-tabview-title {
  position: relative;
  padding-bottom: 10px;
  color: black !important; /* Mantém a aba ativa preta */
}

/* Estilo para abas inativas (já aplicado) */
::ng-deep .p-tabview-nav li:not(.p-highlight) .p-tabview-title {
  color: gray !important; /* Cor cinza para abas inativas */
}
