body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f0f0f0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Inter;
}

.centro{
 border-radius: 10px;
 top: 120px;
 left: 340px;
 width: 81%;
 height: 85%;
 position: fixed;
 background-color: white;
 align-items: start;
 padding: 10px;
 text-decoration: none;
  overflow: hidden;
}

.header{
  padding: 10px;
}

.nomePagina
{
text-align: end;
right: 10px;
font-weight: 700;
color: red;
}
.nav-tabs .nav-link.active {
  background-color: white;
  color: red;
  border-radius: 5px;
}

.nav-tabs .nav-link {
  color: gray;
  font-weight: bold;
}
