.icon-container {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.notification-icon{
  width: 40px;
}
.user-icon{
  width: 70px;
  padding-bottom: 10px;
}
.header-container {
  width: 100%;
  z-index: 100;
}
