.notification-bar {
  font-family:"Inter";
  position: absolute;
  top: 2rem;
  right: 8rem;
  width: 250px;
  background-color: #989898;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;

  &.open {
    animation: slide-in 0.5s forwards;
    visibility: visible;
    opacity: 1;
  }
}

  h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: white;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 15px;
      padding: 10px;
      background: #444;
      border-radius: 5px;

      strong {
        color: #f39c12;
      }

      small {
        display: block;
        margin-top: 5px;
        font-size: 0.9em;
        color: black;
      }
    }
  }

