body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f0f0f0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Inter;
}

.centro{
  border-radius: 10px;
  top: 120px;
  left: 340px;
  width: 81%;
  height: 85%;
  position: fixed;
  background-color: white;
  align-items: start;
  padding: 10px;
  text-decoration: none;
}

.header{
  padding: 10px;
}

.nomePagina
{
  text-align: end;
  right: 10px;
  font-weight: 700;
  color: red;
}
.nav-tabs .nav-link.active {
  background-color: white;
  color: red;
  border-radius: 5px;
}

.nav-tabs .nav-link {
  color: gray;
  font-weight: bold;
}
.cinza
{
  padding-top: 20px;
  text-size-adjust: 10px;
  color: gray;
}
.novo-ambiente{
  background-color: white;
  color: #D6001C;
  border-color: #D6001C;
  border-radius: 6px;

}
.header-container {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.large-button {
  font-size: 1.2em;
  color: #D6001C;
  border-color: #D6001C ;
  font-weight: 700;
  background-color: white;
  position: relative;
  border-radius: 8px;
}

.search-bar {
  display: block;
  width: 60%;
  border: 1px solid black;
}

.menu-container {
  margin-left: auto;
  border: none;
  background-color: white;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.pagination-container {
  position: fixed;
  bottom: 35rem;
  right: 1rem;
  z-index: 1000;
  width: auto;
  overflow:hidden;
}
