<div class="conteudo">
  <div class="centro">
    <div class="centro">
      <p class="nomePagina">{{ currentPageTitle }}</p>
      <nav class="nav nav-tabs">
        <a
          class="nav-item nav-link"
          [routerLink]="['/ordem-servico']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="updatePageTitle(0)"
          >Ordem de Serviço</a
        >
        <a
          class="nav-item nav-link"
          [routerLink]="['/ordem-servico/todos-servicos']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="updatePageTitle(1)"
          >Todos os Serviços</a
        >
      </nav>
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </div>
  <app-cadastrar-ordem
    *ngIf="isModalOpen"
    (close)="closeModal()"
  ></app-cadastrar-ordem>
</div>