body{
  font-family: Inter;
  overflow-x: hidden;
  overflow-y: hidden;
}
.cinza
{
  padding-top: 20px;
  text-size-adjust: 10px;
  color: gray;
}
.novo-ambiente{
  background-color: white;
  color: #D6001C;
  border-color: #D6001C;
  border-radius: 6px;

}
.header-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.large-button {
  font-size: 1.2em;
  color: #D6001C;
  border-color: #D6001C ;
  font-weight: 700;
  background-color: white;
  position: relative;
  border-radius: 8px;
}

.search-bar {
  display: block;
  width: 60%;
  border: 1px solid black;
}

.menu-container {
  margin-left: auto;
  border: none;
  background-color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 300px;
}

.card-header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.card-body {
  padding-top: 8px;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.pagination-container {
  position: fixed;
  bottom: 35rem;
  right: 1rem;
  z-index: 1000;
  width: auto;
  overflow:hidden;
}
