.content {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-250px);
    &.active {
      transform: translateX(0);
    }
  }

  .content {
    margin-left: 0;
    width: 100%;
  }
}