body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f0f0f0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Inter;
}

.centro{
  border-radius: 10px;
  top: 120px;
  left: 340px;
  width: 81%;
  height: 85%;
  position: fixed;
  background-color: white;
  align-items: start;
  padding: 10px;
  text-decoration: none;
}

.header{
  padding: 10px;
}

.nomePagina
{
  text-align: end;
  right: 10px;
  font-weight: 700;
  color: red;
}
.nav-tabs .nav-link.active {
  background-color: white;
  color: red;
  border-radius: 5px;
}

.nav-tabs .nav-link {
  color: gray;
  font-weight: bold;
}
.cinza
{
  padding-top: 20px;
  text-size-adjust: 10px;
  color: gray;
}
.novo-ambiente{
  background-color: white;
  color: #D6001C;
  border-color: #D6001C;
  border-radius: 6px;

}
.header-container {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.large-button {
  font-size: 1.2em;
  color: #D6001C;
  border-color: #D6001C ;
  font-weight: 700;
  background-color: white;
  position: relative;
  border-radius: 8px;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  width: 30%;
}

.menu-container {
  margin-left: auto;
  border: none;
  background-color: white;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.ordem-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  p {
    margin: 8px 0;
    font-size: 14px;
    color: #333;

    &:first-child {
      font-weight: bold;
    }
  }
}
.user-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 18rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-logo {
  display: inline-block;
  margin-left: 10px;
}

.user-logo-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.badge {
  font-size: 0.8rem;
  padding: 5px 10px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

hr {
  margin: 10px 0;
}
